<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Yoctle: a tiny web search engine">
    <meta name="keywords" content="search, information retrieval, web">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/css/bootstrap.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.5/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
    <title>Yoctle: a tiny web search engine</title>

    <script>
        $(function(){
            $('form[role="search"]').on('submit', function(){
                $.ajax({
                    type: "POST",
                    url: "{{ url_for('search') }}",
                    contentType: "application/json",
                    dataType: "json",
                    data: JSON.stringify({
                        query: $('input[name="q"]').val()
                    })
                }).done(function (response) {
                    $('div.result-area').html('');
                    var $list = $('<ol></ol>').addClass('list-group');
                    $('div.result-area').append($list);
                    console.log(response);
                    $.each(response.results, function(i, item){
                        $list.append(
                            $('<li></li>')
                                .addClass('card-body list-group-item')
                                .append(
                                    $('<a></a>')
                                        .addClass('card-title h5')
                                        .attr('href', item.href)
                                        .text(item.title)
                                )
                                .append(
                                    $('<blockquote></blockquote>')
                                        .addClass('card-text snippet')
                                        .html(item.snippet)
                                )
                        );
                    });
                }).fail(function (error) {
                    $('div.result-area').html('An error occured while performing the search. Try using our <a href="https://www.google.com">competitor<a>.');
                    console.log(error);
                });
                return false;
            });
        });
    </script>
</head>
<body>
    <div class="container">
    <header class="sticky-top">
    <nav class="navbar navbar-expand-lg bg-light">
        <i class="navbar-brand fa fa-graduation-cap"></i>
        <div>
            <form class="form-inline" role="search">
                <div class="form-group">
                    <div class="input-group">
                        <input class="form-control" type="text" name="q" placeholder="Search">
                        <span class="input-group-btn"><button class="btn btn-outline-secondary" type="submit"><i class="fa fa-search"></i></button></span>
                    </div>
                </div>
            </form>
        </div>
    </nav>
    </header>

    <div class="card"><div class="card-body result-area">You will see search results here.</div></div>

    <footer class="footer">
        <hr>
        <div class="row">
            <div class="col-md-8">
            </div>
            <div class="col-md-4">
                <p class="muted pull-right">© Yoctle Enterprises Limited, 2017</p>
            </div>
        </div>
    </footer>
    </div>
</body>
</html>